*{
  margin: 0;
  padding:0;
  font-style: "montserrat", sans-serif;
  box-sizing: border-box;
}
.contact-us{
  background: url(img/bg.png) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
.contact-us h1{
  text-align: center;
  color: #fff;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 30px auto;
}
.contact-from{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.contact-from-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 2px;
  background: #34495e;
  padding: 20px 40px;
  outline: none;
  color: #ffffffff;
  transition: 0.8s;
}
.contact-from-text:focus{
  box-shadow: 0 0 10px 4px #ffdfdfdf;
}
textarea.contact-from-text{
  resize: none;
  height: 120px;
}
.contact-from-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.8s;
}
.contact-from-btn:hover{
  background: #2980b9;
}
